/* 4 horizontal boxes: navbar, introContainer, skillsContainer, xpContainer  */

.navbar{
    border:solid lightblue;
    height:25vh; 
    margin:25px;
    padding: 4px;
    max-width: 892px;
    min-width: 700px;
    height: 100%;
}
.navbarInner{
    border: solid lightblue; 
    background-color: lightgray;
    padding: 20px; 
}
.navTitle{
    border: solid lightblue; 
    width: 50%; 
    height: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}
/*--------------------------------------------------------*/

.introContainer{
    border:solid lightblue;
    height:22vh;
    margin:25px;
    display:flex;
    justify-content: space-evenly;
    padding:4px;
    max-width: 892px;
    min-width: 700px;
}
.profileContainer{
    overflow: scroll; 
    scrollbar-width: thin; 
    scrollbar-color: solid lightblue solid blue;
    border:solid lightblue;
    width:38%;
    text-align: center;
    padding-right: 10px;
}
.imgContainer{
    border:solid lightblue;
    width:24%;
    text-align: center;
}
.contactContainer{
    border:solid lightblue;
    width:38%;
    text-align: center;
    display: flex; 
}
.image{
    border-radius: 50%;
    width: 140px; 
    height: 140px; 
    border: solid lightblue;
    border-width: 4px;  
}
.miniContainer{
    border: solid black; 
    margin: 10px;
    border-width: .2px;
    display: flex; 
    justify-content: center;
}
.icon{
    border-radius:50%;
    height:20px;
    width:20px;
    padding: 4px; 
    align-self: right;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.leftCon{
    width:8%;
    padding-top: 15px;
    padding-bottom: 25px;  
    padding-right: 3px;
    padding-left: 10px; 
}
.rightCon{
    width:92%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    line-height: .8;
}
/*--------------------------------------------------------*/

.skillsContainer{
    border:solid lightblue;
    height:22vh;
    margin:25px;
    display:flex;
    justify-content: space-evenly;
    padding:4px;
    max-width: 892px;
    min-width: 700px;
}
.eduContainer, .assetContainer, .industryContainer{
    border: solid lightblue;
    width:33%;
}
.eduTitle {
    border: solid black;
    width: 150px; 
    text-align: center; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px; 
    border-width: .2px;
}
.eduSchool{
    text-align: center;
    margin: 12px; 
}
/*--------------------------------------------------------*/

.xpContainer{
    border:solid lightblue;
    height:22vh;
    margin:25px;
    display:flex;
    padding:4px;
    justify-content: space-evenly;
    max-width: 892px;
    min-width: 700px;
}
.left{
    border:solid lightblue;
    width:79%;
    padding-left: 10px;
    padding-right: 10px;
}
.right{
    border:solid lightblue;
    width:19%;
    text-align: right;
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
}